---
import { getEntryBySlug } from "astro:content";
import Card from "../ui/Card.astro";

const ContactDetails = await getEntryBySlug("contact", "index");
const { cards } = ContactDetails?.data;
---

<div class='section-contact-info'>
  <div class='section-space'>
    <div class='container-default'>
      <div class='grid gap-6 md:grid-cols-2 lg:grid-cols-3'>
        {
          cards.map(({ title, description, icon }: any, index: any) => (
            <Card
              title={title}
              description={description}
              icon={icon}
              index={index}
            />
          ))
        }
      </div>
    </div>
  </div>
</div>
