---
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";
const ContentData = await getEntryBySlug("IndexPage", "content-2");
const { header, image, points } = ContentData?.data;
const { Content } = await ContentData.render();
---

<div
  class='grid items-center gap-10 lg:grid-cols-[1fr_minmax(0,_0.7fr)] lg:gap-20 xl:grid-cols-[1fr_minmax(0,_0.85fr)] xl:gap-[155px]'>
  <div class='jos lg:order-1' data-jos_animation='fade-left'>
    <div>
      <div class='mb-5'>
        <h2>{header}</h2>
      </div>
    </div>
    <Content />
    <ul class='flex flex-col gap-5 font-semibold text-ColorBlack'>
      {
        points.map((point: string) => (
          <li class='flex items-start'>
            <span class='mr-3 inline-block text-xl text-ColorYellow'>
              <Image
                src={"/assets/img/icons/badge.svg"}
                height='20'
                width='20'
                alt='badgeIcon'
                class='sm:w-5 w-10'
              />
            </span>
            <span class='leading-tight'>{point}</span>
          </li>
        ))
      }
    </ul>
  </div>
  <div
    class='jos relative z-10 flex items-center justify-center lg:order-2'
    data-jos_animation='fade-right'>
    <Image
      src={image}
      alt='content-img-2'
      width='451'
      height='456'
      class='h-auto w-[50%] md:w-auto'
    />
    <Image
      src='/assets/img/elements/home-3-content-img-shape-2.svg'
      alt='home-3-content-img-shape-2'
      width='533'
      height='521'
      class='absolute -z-10 h-auto max-w-[90%] sm:max-w-[100%] xl:max-w-[533px]'
    />
  </div>
</div>
