---
import { Image } from "astro:assets";
const { index, icon, title, description } = Astro.props;
---

<div class='jos' data-jos_delay={`${index * 0.3}`}>
  <div class='hover-solid-shadow h-full'>
    <div
      class='h-full rounded-[10px] border-2 border-ColorBlack bg-white p-[30px]'>
      <Image
        src={icon}
        alt='icon'
        width='64'
        height='60'
        class='mb-[30px] h-[60px] w-auto'
      />
      <div>
        <div class='mb-4 text-2xl font-semibold -tracking-[0.5]'>
          {title}
        </div>
        <p>{description}</p>
      </div>
    </div>
  </div>
</div>
